<ul>
	<li><a href="about.html" class="<%= menuStyle('about') %>">About</a></li>
	<li><a href="/portfolio" class="<%= menuStyle('portfolio') %>">Portfolio</a></li>
	<li><a href="resume.html" class="<%= menuStyle('resume') %>">Résumé</a></li>
	<li><a href="http://adamdunne.svbtle.com" target="_blank">Essays</a></li>
	<li><a href="contact.html" class="<%= menuStyle('contact')%>">Contact</a></li>
</ul>
<ul>
	<li><a href="http://twitter.com/adamdunne" target="_blank" alt="twitter"><img src="/assets/twitter.svg" class="social-icon"/></a></li>
	<li><a href="http://ie.linkedin.com/in/adamdunne/" target="_blank" alt="LinkedIn"><img src="/assets/linkedin.svg" class="social-icon"/></a></li>
	<li><a href="http://instagram.com/adamdunne" target="_blank" alt="Instagram"><img src="/assets/instagram.svg" class="social-icon"/></a></li>
	<li><a href="http://dribbble.com/adamdunne" target="_blank" alt="Dribble"><img src="/assets/dribble.svg" class="social-icon"/></a></li>
	<li><a href="http://www.behance.net/adamdunne" target="_blank" alt="Behance"><img src="/assets/behance.svg" class="social-icon"/></a></li>
	<li><a href="http://github.com/adamdunne" target="_blank" alt="Github"><img src="/assets/github.svg" class="social-icon"/></a></li>
</ul>