<section class="portfolio-grid clearfix<%if local_assigns.has_key? :fullscreen and fullscreen%> fullscreen<%end%>">
	<a href="/portfolio/badbeat" class="feature badbeat">
		<h3>Badbeat Poker</h3>
	</a>
	<a href="/portfolio/balancedliving" class="feature balancedliving">
		<h3>Balanced Living</h3>		
	</a>
	<a href="/portfolio/systemssolutions" class="feature systemssolutions">
		<h3>Systems Solutions</h3>
	</a>
	<a href="/portfolio/thekitchen" class="feature thekitchen">
		<h3>The Kitchen</h3>
	</a>
	<a href="/portfolio/diggers" class="feature diggers">
		<h3>Diggers.ie</h3>
	</a>
	<a href="/portfolio/claimsux" class="feature claimsux">
		<h3>Insurance Claims System UX</h3>
	</a>
	<a href="/portfolio/ease" class="feature ease">
		<h3>Ease&trade;</h3>					
	</a>
	<a href="/portfolio/pauldunnelandscaping" class="feature pauldunnelandscaping">
		<h3>Paul Dunne Landscaping</h3>
	</a>
	<a href="/portfolio/lfc" class="feature lfc">
		<h3>Liverpool Football Club</h3>
	</a>
	<a href="/portfolio/nitrosell" class="feature nitrosell">
		<h3>Nitrosell</h3>
	</a>
	<a href="/portfolio/snaptaxi" class="feature snaptaxi">
		<h3>SnapTaxi</h3>
	</a>
	<a href="/portfolio/inosys" class="feature inosys">
		<h3>Inosys</h3>
	</a>
</section>