<section>
	<div id="portfolio-grid" class="clearfix">
		<a href="/portfolio/badbeat" class="feature pink">
			<h3>Badbeat Poker</h3>
		</a>
		<a href="/portfolio/balancedliving" class="feature yellow">
			<h3>Balanced Living</h3>		
		</a>
		<a href="/portfolio/systemssolutions" class="feature blue">
			<h3>Systems Solutions</h3>
		</a>
		<a href="/portfolio/thekitchen" class="feature green">
			<h3>The Kitchen</h3>
		</a>
		<a href="/portfolio/diggers" class="feature green">
			<h3>Diggers.ie</h3>
		</a>
		<a href="/portfolio/ease" class="feature blue">
			<h3>Ease&trade;</h3>					
		</a>
		<a href="/portfolio/inosys" class="feature purple">
			<h3>Inosys</h3>
		</a>
		<a href="/portfolio/claimsux" class="feature orange">
			<h3>Insurance Claims System UX</h3>
		</a>
		<a href="/portfolio/pauldunnelandscaping" class="feature orange">
			<h3>Paul Dunne Landscaping</h3>
		</a>
		<a href="/portfolio/lfc" class="feature purple">
			<h3>Liverpool Football Club</h3>
		</a>
		<a href="/portfolio/nitrosell" class="feature pink">
			<h3>Nitrosell</h3>
		</a>
		<a href="/portfolio/snaptaxi" class="feature yellow">
			<h3>SnapTaxi</h3>
		</a>
	</div>
</section>