<section class="portfolio-grid clearfix<%if local_assigns.has_key? :fullscreen and fullscreen%> fullscreen<%end%>">
	<a href="/portfolio/badbeat" class="feature badbeat">
		<div class="excerpt clearfix">
			<h3>Badbeat Poker</h3>
			<p>Long term project to design and deliver a hand replayer app and mobile Poker Assistant app to analysing live game play.</p>
		</div>
	</a>
	<a href="/portfolio/balancedliving" class="feature balancedliving">
		<div class="excerpt">
			<h3>Balanced Living</h3>
			<p>Identity design and implementation of health tracking web app.</p>	
		</div>	
	</a>
	<a href="/portfolio/systemssolutions" class="feature systemssolutions">
		<div class="excerpt">
			<h3>Systems Solutions</h3>
			<p>Website design and implementation, including searchable parts catalogue with CAD drawing repository.</p>
		</div>
	</a>
	<a href="/portfolio/thekitchen" class="feature thekitchen">
		<div class="excerpt">
			<h3>The Kitchen</h3>
			<p>Identiyy and website design for 'The Kitchen' cookery school.</p>
		</div>
	</a>
	<a href="/portfolio/diggers" class="feature diggers">
		<div class="excerpt">
			<h3>Diggers.ie</h3>
			<p>Identity and simple website design for a plant hire company.</p>
		</div>
	</a>
	<a href="/portfolio/claimsux" class="feature claimsux">
		<div class="excerpt">
			<h3>Insurance Claims System UX</h3>
			<p>User experience research and design of a complex and evolved, multi-line insurance claim web application.</p>
		</div>
	</a>
	<a href="/portfolio/ease" class="feature ease">
		<div class="excerpt">
			<h3>Ease&trade;</h3>		
			<p>Java based website content management system incorporating messaging, file management, analytics and forum additional modules.</p>
		</div>			
	</a>
	<a href="/portfolio/pauldunnelandscaping" class="feature pauldunnelandscaping">
		<div class="excerpt">
			<h3>Paul Dunne Landscaping</h3>
			<p>Identity and simple website design for a landscape maintenance and design company.</p>
		</div>
	</a>
	<a href="/portfolio/lfc" class="feature lfc">
		<div class="excerpt">
			<h3>Liverpool Football Club</h3>
			<p>Design and implementation of Liverpool Football Club's staff intranet, including photo sharing and online forum.</p>
		</div>
	</a>
	<a href="/portfolio/nitrosell" class="feature nitrosell">
		<div class="excerpt">
			<h3>Nitrosell Store Templates</h3>
			<p>Design of fifteen unique store themes, made available to customers of Nitrosell's e-commerce platform.</p>
		</div>
	</a>
	<a href="/portfolio/snaptaxi" class="feature snaptaxi">
		<div class="excerpt">
			<h3>SnapTaxi</h3>
			<p>Design and build of an iOS mobile application to locate and book taxis.</p>
		</div>
	</a>
	<a href="/portfolio/inosys" class="feature inosys">
		<div class="excerpt">
			<h3>Inosys</h3>
			<p>Logo design for a conveyor and manufacturing engineering company.</p>
		</div>
	</a>
</section>