<%= render "shared/header" %>

<section class="portfolio-masthead claimsux">
	
</section>
<section class="portfolio-overview maxwidth">
	<h1>Claims Systems UX<h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin mi tincidunt dolor aliquam, sed tristique nunc congue. Suspendisse molestie ligula ac suscipit gravida. Integer sodales tempor purus. Nam sem nibh, eleifend et ornare bibendum, mollis ut felis. Fusce porttitor pretium massa, fringilla convallis risus placerat eu.</p>
</section>	
<section class="portfolio-overview maxwidth">
    <div class="browser claimsux-browser"></div>
</section>	
<%= render "shared/portfolio_grid" %>
<%= render "shared/footer" %>