<% set_page_heading "About" %>
<%= render "shared/header" %>

<section class="about-masthead">
	<p class="intro">Adam is an experienced developer and UI designer, currently working as a Product Manager for a leading life and health insurance software vendor.</p>
</section>
<section class="portfolio-overview maxwidth">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin mi tincidunt dolor aliquam, sed tristique nunc congue. Suspendisse molestie ligula ac suscipit gravida. Integer sodales tempor purus. Nam sem nibh, eleifend et ornare bibendum, mollis ut felis. Fusce porttitor pretium massa, fringilla convallis risus placerat eu.</p>
</section>
<%= render "shared/portfolio_grid" %>
<%= render "shared/footer" %>