// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead.about {
	background-image: image-url("profile_pic.png");
	background-color: #000;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right 50px;
}

.masthead.about .intro {
	color: #fff;
	padding: 20% 420px 0 40px;
	font-family: $defaultFont, sans-serif;
	font-weight: 200;
	font-size: 2em;
}