// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$diggersBlue: #1b5e9b;
$balancedLivingRed: #a50004;
$theKitchenClay: #31363e;
$lfcRed: #d00027;
$paulDunneLandscapingGreen: #94c840;
$snapTaxiBlue: #043148;
$systemsSolutionsGrey: #687787;
$nitrosellOrange: #ce6917;
$inosysWhite: #ccc;
$easeBlue: #a7bed6;
$claimsUXGrey: #ccc;

@mixin window-shadow {
	-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.6);	
}

.badbeat-mobile {
	background-image: url(/assets/badbeat/poker_assistant.png);
	background-repeat: no-repeat;
	float:right;
	width: 57%;
	height: 921px;
}

.portfolio-masthead {
	height: 600px;
}

.portfolio-overview,
.portfolio-feature {
	padding: 40px;
}
.portfolio-feature {
	background-color: #f2f2f2;
}
.portfolio-overview h1 {
	font-family: $defaultFont, sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 3rem;
}

.portfolio-overview p,
.portfolio-feature p {
	font-family: $defaultFont, sans-serif;
	font-weight: 100;
	text-align: center;	
	font-size: 1.4rem;
}

.portfolio-masthead.badbeat {
	background-image: url(/assets/badbeat/logo.png), url(/assets/badbeat/replayer.png);
	background-position: 40px 110px, 100% 86px;
	background-repeat: no-repeat;
	background-color: $black;
}

.portfolio-masthead.diggers {
	background-image: url(/assets/diggers/logo.png), url(/assets/diggers/truck.png);
	background-position: 40px 110px, 90% 96px;
	background-repeat: no-repeat;
	background-color: $diggersBlue;	
}

.portfolio-masthead.balancedliving {
	background-image: url(/assets/balancedliving/logo.png);
	background-position: 50% 320px;
	background-repeat: no-repeat;
	background-color: $balancedLivingRed;	
}

.portfolio-masthead.thekitchen {
	background-image: url(/assets/theKitchen/logo.png);
	background-position: 50% 290px;
	background-repeat: no-repeat;
	background-color: $theKitchenClay;	
}

.portfolio-masthead.lfc {
	background-image: url(/assets/lfc/logo.png);
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $lfcRed;	
}

.portfolio-masthead.pauldunnelandscaping {
	background-image: url(/assets/pauldunnelandscaping/logo.png), url(/assets/pauldunnelandscaping/hedge.png);
	background-position: 50% 180px, 0 495px;
	background-repeat: no-repeat, repeat-x;
	background-color: $paulDunneLandscapingGreen;	
}

.portfolio-masthead.snaptaxi {
	background-image: url(/assets/snaptaxi/logo.png);
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $snapTaxiBlue;	
}

.portfolio-masthead.systemssolutions {
	background-image: url(/assets/systemssolutions/logo.png);
	background-position: 50% 270px;
	background-repeat: no-repeat;
	background-color: $systemsSolutionsGrey;	
}

.portfolio-masthead.nitrosell {
	background-image: url(/assets/nitrosell/shadow.png), url(/assets/nitrosell/banner.png);
	background-position: 0 100%, 50% 58px;
	background-repeat: repeat-x, no-repeat;
	background-color: $nitrosellOrange;	
}

.portfolio-masthead.inosys {
	background-image: url(/assets/lfc/logo.png);
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $inosysWhite;	
}

.portfolio-masthead.ease {
	background-image: url(/assets/ease/logo.png);
	background-position: 50% 260px;
	background-repeat: no-repeat;
	background-color: $easeBlue;	
}

.portfolio-masthead.claimsux {
	background-image: url(/assets/lfc/logo.png);
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $claimsUXGrey;	
}

.portfolio-feature p {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	height: 865px;	
	width: 40%;
}
.browser {
    width: 1026px;
    height: 871px;
    margin: 0 auto;
    display: block;
	@include window-shadow;
}
.mygame-browser {
    background: url(/assets/badbeat/mygame_screen.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
}

.replay-browser {
    background: url(/assets/badbeat/replayer_screen.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
}

.diggers-browser {
    background: url(/assets/diggers/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
}

.healthbalance-browser {
    background: url(/assets/balancedliving/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
}

.thekitchen-browser {
    background: url(/assets/thekitchen/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 1200px;
}

.lfc-browser {
    background: url(/assets/lfc/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 1078px;
}

.pauldunnelandscaping-browser {
    background: url(/assets/pauldunnelandscaping/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 1078px;
}

.systemssolutions-browser {
    background: url(/assets/systemssolutions/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 777px;
}

.systemssolutions-catalogue-browser {
    background: url(/assets/systemssolutions/catalogue_website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 777px;
}

.nitrosell-browser {
    background: url(/assets/nitrosell/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 870px;
}

.pauldunnelandscaping-browser {
    background: url(/assets/pauldunnelandscaping/website.png) 1px 77px no-repeat,
    			url(/assets/browser_top.png) top center no-repeat;
    height: 870px;
}

.maxwidth {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
