// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@mixin window-shadow {
	-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.6);	
}

.portfolio-grid.fullscreen .feature {
	height: 33.3%;
}

.badbeat-mobile {
	background-image: image-url("badbeat/poker_assistant.png");
	background-repeat: no-repeat;
	float:right;
	width: 57%;
	height: 921px;
}

.portfolio-masthead {
	height: 600px;
}

.portfolio-overview,
.portfolio-feature {
	padding: 40px;
}
.portfolio-feature {
	background-color: #f2f2f2;
}

.portfolio-overview h1 {
	font-family: $defaultFont, sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 3rem;
}

.portfolio-overview p,
.portfolio-feature p {
	font-family: $defaultFont, sans-serif;
	font-weight: 100;
	text-align: center;	
	font-size: 1.4rem;
}

.portfolio-masthead.badbeat {
	background-image: image-url("badbeat/logo.png"), image-url("badbeat/replayer.png");
	background-position: 40px 110px, 100% 86px;
	background-repeat: no-repeat;
	background-color: $black;
}

.portfolio-masthead.diggers {
	background-image: image-url("diggers/logo.png"), image-url("diggers/truck.png");
	background-position: 40px 110px, 90% 96px;
	background-repeat: no-repeat;
	background-color: $diggersBlue;	
}

.portfolio-masthead.balancedliving {
	background-image: image-url("balancedliving/logo.png");
	background-position: 50% 320px;
	background-repeat: no-repeat;
	background-color: $balancedLivingRed;	
}

.portfolio-masthead.thekitchen {
	background-image: image-url("thekitchen/logo.png");
	background-position: 50% 290px;
	background-repeat: no-repeat;
	background-color: $theKitchenClay;	
}

.portfolio-masthead.lfc {
	background-image: image-url("lfc/logo.png");
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $lfcRed;	
}

.portfolio-masthead.pauldunnelandscaping {
	background-image: image-url("pauldunnelandscaping/logo.png"), image-url("pauldunnelandscaping/hedge.png");
	background-position: 50% 180px, 0 495px;
	background-repeat: no-repeat, repeat-x;
	background-color: $paulDunneLandscapingGreen;	
}

.portfolio-masthead.snaptaxi {
	background-image: image-url("snaptaxi/logo.svg");
	background-size: 20%;
	background-position: 50% 170px;
	background-repeat: no-repeat;
	background-color: $snapTaxiBlue;	
}

.portfolio-masthead.systemssolutions {
	background-image: image-url("systemssolutions/logo.png");
	background-position: 50% 270px;
	background-repeat: no-repeat;
	background-color: $systemsSolutionsGrey;	
}

.portfolio-masthead.nitrosell {
	background-image: image-url("nitrosell/shadow.png"), image-url("nitrosell/banner.png");
	background-position: 0 100%, 50% 58px;
	background-repeat: repeat-x, no-repeat;
	background-color: $nitrosellOrange;	
}

.portfolio-masthead.inosys {
	background-image: image-url("lfc/logo.png");
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $inosysWhite;	
}

.portfolio-masthead.ease {
	background-image: image-url("ease/logo.png");
	background-position: 50% 260px;
	background-repeat: no-repeat;
	background-color: $easeBlue;	
}

.portfolio-masthead.claimsux {
	background-image: image-url("lfc/logo.png");
	background-position: 50% 210px;
	background-repeat: no-repeat;
	background-color: $claimsUXGrey;	
}

.portfolio-feature p {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	height: 865px;	
	width: 40%;
}
.browser {
    width: 1026px;
    height: 871px;
    margin: 0 auto;
    display: block;
	@include window-shadow;
}
.mygame-browser {
    background: image-url("badbeat/mygame_screen.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
}

.replay-browser {
    background: image-url("badbeat/replayer_screen.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
}

.diggers-browser {
    background: image-url("diggers/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
}

.healthbalance-browser {
    background: image-url("balancedliving/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
}

.thekitchen-browser {
    background: image-url("thekitchen/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 1200px;
}

.lfc-browser {
    background: image-url("lfc/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 1078px;
}

.pauldunnelandscaping-browser {
    background: image-url("pauldunnelandscaping/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 1078px;
}

.systemssolutions-browser {
    background: image-url("systemssolutions/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 777px;
}

.systemssolutions-catalogue-browser {
    background: image-url("systemssolutions/catalogue_website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 777px;
}

.nitrosell-browser {
    background: image-url("nitrosell/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 870px;
}

.pauldunnelandscaping-browser {
    background: image-url("pauldunnelandscaping/website.png") 1px 77px no-repeat,
    			image-url("browser_top.png") top center no-repeat;
    height: 870px;
}

.maxwidth {
	max-width: 80%;
	margin: auto auto;
}
